#chat-section{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 75px);
}
#channel-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 55px;
    padding: 15px;
    background-color: #646464;
    button{
        border: none;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    button:hover{
        background-color: rgb(201, 201, 201);
    }
    .channel-info{
        font-size: 1.5rem;
        visibility: hidden;
        position: absolute;
        border-radius: 10px;
        z-index: 2;
        background-color: rgb(139, 139, 139);
        padding: 10px;
    }
    button:hover .channel-info {
        visibility: visible;
    }
}
#chat {
    background: linear-gradient(90deg,rgba(80, 80, 80, 1) 0%, rgba(100, 100, 100, 1) 50%, rgba(80, 80, 80, 1) 100%);
    width: 100%;
    height: 100%;
    #message-list{
        height: calc(100% - 101px);
        overflow-y: auto;
        overflow-x: hidden;
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        input{
            padding: 0 5px;
            min-width: 150px;
            width: 100%;
            max-width: 500px;
            height: fit-content;
            border: none;
            min-height: 50%;
            border-radius: 10px 0 0 10px;
            background-color: #000;
            color:rgb(219, 219, 219);
            font-size: 1.1rem;
        }
        input:focus-within {
            border: 1px solid red;
        }
        button {
            border-radius: 0 10px 10px 0;
            font-size: 1.1rem;
            border: none;
            min-height: 50%;
            padding: 5px;
            background-color: #000;
            color:rgb(219, 219, 219);
            font-family: "Nosifer", sans-serif;
            transition: all 0.2s;
        }
        button:hover {
            background-color: rgb(219, 219, 219);
            color: #000;
        }
    }
}
#members {
    width: 200px;
    height: 100%;
    background-color: #646464;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    h2{
        font-size: 1rem;
    }
    hr{
        border-color: rgb(37, 37, 37);
        width: calc(100% + 5px);
    }
    .big-separator{
        border: 2px solid rgb(37, 37, 37);
        width: calc(100% + 5px);
    }
    .member-title{
        font-size: 1rem;
    }
}
#message-list{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}
.message{
    position: relative;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
    p{
        overflow-wrap: break-word;
        padding: 0 20px;
    }
    span{
        width: 100%;
        text-align: end;
    }
    .message-remove{
        position: absolute;
        visibility: hidden;
        right: 0;
    }
}
.message:hover{
        background-color: rgba(255, 255, 255, 0.205);
}
.message:hover .message-remove{
        visibility: visible;
}
