* {
    margin: 0;
    font-family: "Sansation", sans-serif;
    // font-family: "Coral Pixels", serif;
    // font-family: "Nosifer", sans-serif;
    // font-family: "Rubik Glitch", system-ui;
}
body {
    min-height: 100vh;
}
main {
    height: 100%;
}