#base {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 100%;
    background: radial-gradient(circle,rgba(100, 100, 100, 1) 50%, rgba(0, 0, 0, 1) 100%);
    min-height: calc(100vh - 75px);
    h1{
        font-family: "Coral Pixels", serif;
        font-size: 12rem;
        text-shadow: 0 0 20px #fff;
        animation: RGB 0.1s infinite both;
    }
}
@keyframes RGB {
    0%{
        transform: translateY(0);
        text-shadow: 0 0 20px #ffffff;
    }
    10%{
        transform: translateY(10px);
        text-shadow: 0 0 20px #ff0000;
    }
    20%{
        transform: translateY(0);
        text-shadow: 0 0 20px #ff5e00;
    }
    30%{
        transform: translateY(-10px);
        text-shadow: 0 0 20px #ff9100;
    }
    40%{
        transform: translateY(0);
        text-shadow: 0 0 20px #ffd900;
    }
    50%{
        transform: translateY(10px);
        text-shadow: 0 0 20px #9dff00;
    }
    60%{
        transform: translateY(0);
        text-shadow: 0 0 20px #3cff00;
    }   
    70% {
        transform: translateY(-10px);
        text-shadow: 0 0 20px #00eeff;
    }
    80%{
        transform: translateY(0);
        text-shadow: 0 0 20px #0400ff;
    }
    90%{
        transform: translateY(10px);
        text-shadow: 0 0 20px #9900ff;
    }   
    100%{
        transform: translateY(0);
        text-shadow: 0 0 20px #ff0000;
    }
}